.siteTitle h1{
  color: white;
  transition: color 400ms ease;
  font-size: 25px;

}
.siteTitle:hover {
  text-decoration: none;
}
.siteTitle:hover h1{
  color: #598392;
  text-decoration: none;
}


@media screen and (min-width: 200px) and (max-width: 650px){
  .siteTitle h1 {
    font-size: 15px;
  }


}
