
html {
  background-color: black;
  overflow-x: hidden;
  font-family: 'Open-Sans';
}
body {
  overflow-x: hidden;
  position: relative;
  color: white;
}

.navLink {
  text-decoration: none;
  margin-right: 20px;
  color: #598392;
}
.footer {
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
  width: 100%;
  margin: auto 0px;

  background-image: url("../images/Footer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
